<div class="ui checkbox" [class.edit]="todo.edit">
    <input type="checkbox" (change)="toggleDone()">
    <label (dblclick)="editTodo(todo)" [ngClass]="{done: todo.done}">{{ todo.title }}</label>
    <input class="editbox" *ngIf="todo.edit" [value]="todo.title" #editedtodo  (keyup.enter)="updateEditingTodo(todo, editedtodo.value)" (keyup.escape)="cancelEditingTodo(todo)" (blur)="cancelEditingTodo(todo)" autofocus>
</div>

<button class="ui red icon button" (click) = "delete()">
    <i class="trash outline icon"></i>
</button>