todo-item {
    display: flex;
    align-items: center;
}

todo-item:not(:last-child) {
    margin-bottom: 10px;
}

.note {
    text-align: center;
    font-size: 12px;
    padding: 10px 0 0;
    border-top: 1px solid lightgray;
}